/node_modules
/public/hot
/public/storage
/public/templates
/public/css
/public/js
/public/image
/v8-compile-cache-0
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
composer.lock
/app/Http/Middleware/VerifyCsrfToken.php
