.frm-align {
    text-align: center;
}
.frm-margin-right-8 {
    margin-right: 8px;
}
.frm-margin-left-8 {
    margin-left: 8px;
}
.img-preview2 {
    width: 160px;
    height: 100px;
}
.img-preview {
    width: 160px;
    height: 100px;
    margin-bottom: 10px;
}
.tuychinh {
    margin-top: 11px;
}
.message{
    margin-top: 11px;
    margin-left: 13%;
}
.btchinh {
    float:left;
}
.userchinh{
    font-weight: bold;
    margin-top: 10px;
}

.userchinh1{
    background-color: #3f9ae5;
    border-radius: 10px;
    margin-top: 10px;
}
.userchinh2{
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
    color:#777;
}

.userchinh3{
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
    color:red;
}

.newDoc{
    border: 1px solid #202124 !important;
}

.replied{
    background: rgba(242,245,245,0.8);
    color:black;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.files{
    width: 110px;
    background-color: #e5e7e9;
}

.preview1{
    background: #e5e7e9;
    padding: 10px 10px 5px;
    margin: 0 10px 10px 0;
    width: calc((100% - 40px) / 3);
}
