.frm-align {
    text-align: center;
}
.frm-margin-right-8 {
    margin-right: 8px;
}
.frm-margin-left-8 {
    margin-left: 8px;
}
.img-preview2 {
    width: 110px;
    height: 75px;
}
.img-preview {
    width: 160px;
    height: 115px;
    margin-bottom: 10px;
}
.tuychinh {
    margin-left: 15%;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}