.frm-align {
    text-align: center;
}
.frm-margin-right-8 {
    margin-right: 8px;
}
.frm-margin-left-8 {
    margin-left: 8px;
}
.img-preview2 {
    width: 160px;
    height: 100px;
}
.img-preview {
    width: 160px;
    height: 100px;
    margin-bottom: 10px;
}
.tuychinh {
    margin-top: 11px;
}
