.frm-align {
    text-align: center;
}
.frm-margin-right-8 {
    margin-right: 8px;
}
.frm-margin-left-8 {
    margin-left: 8px;
}
.img-preview2 {
    width: 160px;
    height: 100px;
}
.img-preview {
    width: 160px;
    height: 100px;
    margin-bottom: 10px;
}
.tuychinh {
    margin-top: 11px;
}
.message{
    margin-top: 11px;
    margin-left: 13%;
}
.btchinh {
    float:left;
}
.userchinh{
    font-weight: bold;
    margin-top: 10px;
}

.userchinh1{
    background-color: #3f9ae5;
    border-radius: 10px;
    margin-top: 10px;
}
.userchinh2{
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
    color:#777;
}

.userchinh3{
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
    color:red;
}

.approved{
    float: right !important;
    margin-top: 10px;
    margin-left: 10px;
    color:green;
}

.newDoc{
    border: 1px solid #202124 !important;
}

.replied{
    background: rgba(242,245,245,0.8);
    color:black;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}

.files{
    width: 110px;
    background-color: #e5e7e9;
}

.preview1{
    background: #e5e7e9;
    padding: 10px 10px 5px;
    margin: 0 10px 10px 0;
    width: calc((100% - 40px) / 3);
}
.position-relative{
    position: relative;
}
.position-login{
    position: absolute;
    right: 10px;
}
.left-profile{
    width: 30%;
}
.right-profile{
    width: 70%;
    position: absolute;
    top: 0%;
    left: 28%;
    text-align: left;
}
.css-profile {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    border-radius: 15px
}
.icon-margin-right {
    margin-right: 15px;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -27%;
    width: 65%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.css-profile-input {
    max-width: 75%;
    display: inline;
}
.css-load-form {
    height: 336px !important;
}
.css-function {
    text-align: center;
    vertical-align: middle;
}
.css-form-approval {
    color: red !important;
    border: 1px solid red;
}
